<nav>
  <ul>
    <li>
      {% if page.url == '/' %}
        Home
      {% else %}
        <a href="/">
          Home
        </a>
      {% endif %}
    </li>
    <li>
      {% if page.url == '/submit.html' %}
        Submit
      {% else %}
        <a href="{% link derp_lerning/submit.html %}">
          Submit
        </a>
      {% endif %}
    </li>
    <li>
      {% if page.url == '/about.html' %}
        About
      {% else %}
        <a href="{% link derp_lerning/about.md %}">
          About
        </a>
      {% endif %}
    </li>
  </ul>
</nav>
<br>
