---
---

@import "{{ site.theme }}";

/* ------- HEADER ------- */

@media (max-width: 800px) {
  header h1 {
    margin: 0;
  }
}

/* ------- FOOTER ------- */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 50px;
  position: relative;
}

footer {
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* ------- HOME PAGE ------- */
.post-title:hover {
  color: #63c0f5;
}

.post-title:hover::after {
  content: "🔗";
}

.local-link {
  text-decoration: none;
}

iframe {
  max-width: 100%;
}

/* ------- SUBMIT ------- */
.submit-field {
  width: 100%;
  font: inherit;
}

.submit-button {
  display: block;
  margin: 0 auto;
  font: inherit;
  border: 3px solid #b5e853;
  color: #b5e853;
  background-color: #666;
  border-radius: none;
}
