<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131291227-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131291227-1');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/icons/site.webmanifest">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="type" content="website" />
    <meta name="image" content="assets/images/robot.png">
    <meta name="image:type" content="image/png">
    <meta name="image:width" content="512">
    <meta name="image:height" content="512">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/images/robot.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    {% seo %}
  </head>
  <body>
    <div class="content-wrapper">
      <header>
        <div class="container">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </header>
      <div class="container">
        <section id="main_content">
          {% include nav.html %}
          {{ content }}
        </section>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
